@page "/"
@using BlazorApp1.Components.Layout

@inject NavigationManager NavigationManager
@inject AppState AppState

<div class="wrapper" style="display: flex; flex-direction: column">
    <NavMenu/>
</div>

@code
{
    protected override void OnInitialized()
    {
        if (!AppState.IsLoggedIn)
        {
            NavigationManager.NavigateTo("/login");
        }
        
    }

}
