@inherits LayoutComponentBase
<div id="page">
    <header>
        <div class="title">
            <h1 id="mainTitleH1">PK GYMS</h1>
        </div>
    </header>
    <div id="main">
        @Body
    </div>
</div>



