#page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    max-height: 100%;
}
.title {
    text-align: center;
    background-color: black;
    border-bottom: 2px solid pink;
    margin-bottom: 0px;
    margin-top: 0px;
}
#mainTitleH1{
    font-size: 90px;
    color: pink;
}

#main {
    display: flex;
    align-content: center;
    background-color: black;
    flex: 1;
    justify-content: center;
}







